* {
    margin: 0; padding: 0;
    box-sizing: border-box;
  }
  a{
    text-decoration: none;
    color: inherit;
  }
  ul, ol{
    list-style: none;
  }
  button, input{
    font: inherit;
  }
  :focus{
    outline: none;
  }

  h1,h2,h3,h4,h5 {
    font-weight: normal;
  }

  html {
    overflow-y: scroll; //这是为了兼容ie8，不支持:root, vw
  }
  
  :root {
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  :root body {
    position: absolute;
  }
  
  body {
    width: 100vw;
    overflow: hidden;
    color: #44486E;
  }